<mat-card>

	<mat-card-title>Add Product</mat-card-title>

	<mat-card-content>
		<div [formGroup]="addform">
			<div>
				<mat-form-field class="form-field" appearance="outline">
					<mat-label>Code</mat-label>
						<input  matInput #productCode type="text" formControlName="code" placeholder="Product Code" />
						<mat-hint>2-4 letters|space|4-6 digits</mat-hint>
				</mat-form-field>
			</div>
<!-- 				<div *ngIf="addform.get('code').errors.validCode">
					Code must be unique
				</div> -->
			<div>
				<mat-form-field class="form-field" appearance="outline">
					<mat-label>Quantity</mat-label>
						<input matInput #productQuantity type="text" formControlName="quantity" placeholder="Product Quantity: 1 - 100" />

				</mat-form-field>
			</div>
			<div>
				<mat-form-field class="form-field" appearance="outline">
					<mat-label>Floor</mat-label>
						<input matInput #productFloor type="text" formControlName="floor" placeholder="Product Floor: 1 - 3" />
				</mat-form-field>
			</div>
			<div>
				<mat-form-field class="form-field" appearance="outline">
					<mat-label>Section</mat-label>
						<input matInput #productSection type="text" formControlName="section" placeholder="Product Section: 1 - 3" />
				</mat-form-field>
			</div>
			<button mat-raised-button color="primary" (click)="addProduct(productCode.value, productQuantity.value, productFloor.value, productSection.value)" [disabled]="!addform.valid">Add new</button>
		</div>
	</mat-card-content>

</mat-card>

